html, body {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

input[readonly] {
  background-color: #f8f9fa;
  cursor: not-allowed;
}

.form-control {
  margin-bottom: 15px;
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

.profile-button {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.profile-button:hover {
  background-color: #0056b3;
}

.delete-button {
  background-color: #dc3545;
  border: none;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.delete-button:hover {
  background-color: #c82333;
}


.profile-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.profile-content {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 100%;
  max-width: 800px;
  margin-bottom: 40px;
}

.labels {
  font-weight: bold;
}

.btn-sm {
  font-size: 0.8rem;
  margin-left: 5px;
  margin-right: 5px;
}

@media (max-width: 768px) {
  .profile-container {
    padding: 10px;
  }
}
