<div class="filter-bar">
  <button class="filter-button" (click)="filtrarPorGenero('Hombre')" [class.active]="filtroActivo === 'Hombre'">
    <div class="filter-content">
      <img src="https://media.revistagq.com/photos/6093c65f235a5910299c9296/1:1/w_1200,h_1200,c_limit/massimo%20dutti%20sean_opry.jpeg" alt="Hombre">
      <span>Hombre</span>
    </div>
  </button>
  <button class="filter-button" (click)="filtrarPorGenero('Mujer')" [class.active]="filtroActivo === 'Mujer'">
    <div class="filter-content">
      <img src="https://www.instyle.es/medio/2022/04/10/tendencias-que-sientan-mejor-a-chicas-con-curvas_0f4c165d_1280x853.jpg" alt="Mujer">
      <span>Mujer</span>
    </div>
  </button>
  <button class="filter-button" (click)="resetearFiltro()" [class.active]="!filtroActivo">
    <div class="filter-content">
      <img src="https://st.depositphotos.com/2097531/2143/i/450/depositphotos_21435719-stock-photo-sexy-man-and-woman-dressed.jpg" alt="Mostrar Todo">
      <span>Resetear Filtro</span>
    </div>
  </button>
</div>

<div class="search-bar">
  <input type="text" class="form-control search-input" placeholder="Buscar producto..." (input)="buscarProducto($event)">
  <select class="form-control talla-select ml-2" (change)="filtrarPorTalla($event)">
    <option value="">Todas las tallas</option>
    <option value="S">Talla S</option>
    <option value="M">Talla M</option>
    <option value="L">Talla L</option>
  </select>
</div>

<div class="product-list">
  <div *ngFor="let producto of productosFiltrados" class="product-card">
    <div class="product-image pointer">
      <img (click)="detalleProducto(producto.idProducto)" [src]="producto.imagenProducto" alt="{{ producto.nombreProducto }}">
    </div>
    <div class="product-details">
      <p style="height: 55px;" class="product-name pointer" (click)="detalleProducto(producto.idProducto)">{{ producto.nombreProducto }}</p>
      <div class="product-pricing pointer" (click)="detalleProducto(producto.idProducto)">
        <p class="product-price">S/. {{ producto.precioProducto }}</p>
        <p class="product-original-price">S/. {{ (producto.precioProducto * 1.3).toFixed(2) }}</p>
      </div>
      <button class="btn btn-dark btn-lg" type="button" (click)="agregarPrimeraTallaDisponible(producto)">
        Agregar al carrito
      </button>
    </div>
  </div>
</div>
