<section>
  <div class="container py-5">
    <div class="row justify-content-center align-items-center">
      <div class="col-md-6 d-none d-md-block">
        <div class="card" style="border-radius: 1rem">
          <img src="https://st4.depositphotos.com/12985790/25241/i/450/depositphotos_252417332-stock-photo-girlfriend-denim-dress-hand-pocket.jpg"
            alt="Imagen de formulario de registro" class="img-fluid" style="border-radius: 1rem; height: 100%;" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="card" style="border-radius: 1rem;">
          <div class="card-body p-4 p-lg-5 text-black">
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
              <div class="text-center mb-4">
                <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219"></i>
                <span class="h1 fw-bold">REGISTRAR</span>
              </div>

              <div class="mb-4">
                <label for="dni" class="form-label">DNI</label>
                <input type="text" id="dni" class="form-control" placeholder="Ingrese su DNI" formControlName="dni"
                  required />
              </div>

              <div class="mb-4">
                <label for="nombres" class="form-label">Nombres</label>
                <input type="text" id="nombres" class="form-control" placeholder="Ingrese sus nombres"
                  formControlName="nombres" required />
              </div>

              <div class="mb-4">
                <label for="apellidos" class="form-label">Apellidos</label>
                <input type="text" id="apellidos" class="form-control" placeholder="Ingrese sus apellidos"
                  formControlName="apellidos" required />
              </div>

              <div class="mb-4">
                <label for="numTelefono" class="form-label">Número de Teléfono</label>
                <input type="text" id="numTelefono" class="form-control" placeholder="Ingrese su número de teléfono"
                  formControlName="numTelefono" required />
              </div>

              <div class="mb-4">
                <label for="correo" class="form-label">Correo</label>
                <input type="email" id="correo" class="form-control" placeholder="Ingrese su correo"
                  formControlName="correo" required />
              </div>

              <div class="mb-4">
                <label for="contrasena" class="form-label">Contraseña</label>
                <input type="password" id="contrasena" class="form-control" placeholder="Ingrese su contraseña"
                  formControlName="contrasena" required />
              </div>

              <div class="mb-4 text-center">
                <button class="btn btn-dark btn-lg" [disabled]="registerForm.invalid" type="submit">Registrar</button>
              </div>

              <p class="text-center" style="color: #000000; font-weight: 300"> ¿Ya tienes una cuenta?
                <a (click)="iniciarsesion()" style="cursor: pointer; color: #1a26a3; font-weight: 500">Inicia sesión
                  aquí</a>
              </p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
