<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
            <div class="success-card">
                <i class="bi bi-check-circle-fill check-circle"></i>
                <h1 class="text-success">¡Compra Exitosa!</h1>
                <p class="lead">¡Gracias por tu compra! Tu pedido ha sido procesado correctamente.</p>
                <hr>
                <p class="text-muted">Tu compra está en camino. ¡Disfruta!</p>
                <p class="text-muted">Sigue aprovechando nuestras ofertas únicas con un 30% de descuento en  <strong>toda nuestra linea de ropa</strong>.</p>
                <a (click)="inicio()" class="btn btn-primary btn-lg mt-4">Volver al inicio</a>
            </div>
        </div>
    </div>
</div>