<div class="container mt-4">
  <div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col" *ngFor="let venta of ventas">
      <div class="card h-100">
        <div class="card-header bg-primary text-white">
          <h5 class="card-title mb-0">{{ venta.nombres }} {{ venta.apellidos }}</h5>
          <p class="card-text">{{ venta.estado }}</p>
        </div>
        <div class="card-body">
          <p><strong>Fecha de Emisión:</strong> {{ venta.fechaEmision | date:'short' }}</p>
          <p><strong>DNI:</strong> {{ venta.dni }}</p>
          <p><strong>Tipo de Venta:</strong> {{ venta.tipoVenta }}</p>
          <p><strong>Dirección:</strong> {{ venta.direccion }}</p>
          <p><strong>Total:</strong> {{ venta.total | currency }}</p>
        </div>
        <div class="card-footer">
          <button class="btn btn-outline-primary" (click)="obtenerDetallesDeVenta(venta.idVenta)">Ver Detalles</button>
        </div>
        <div *ngIf="detalles[venta.idVenta]" class="accordion mt-3">
          <div class="accordion-item" *ngFor="let detalle of detalles[venta.idVenta]">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#detalleCollapse-' + detalle.idDetalleVenta" aria-expanded="false">
                Detalle de Producto: {{ detalle.nombreProducto }}
              </button>
            </h2>
            <div [attr.id]="'detalleCollapse-' + detalle.idDetalleVenta" class="accordion-collapse collapse">
              <div class="accordion-body">
                <p><strong>Cantidad:</strong> {{ detalle.cantProducto }}</p>
                <p><strong>Talla:</strong> {{ detalle.tallaProducto }}</p>
                <p><strong>Precio:</strong> {{ detalle.precioProducto | currency }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
