<div class="container mt-4">
  <h2>Mis Compras</h2>

  <div class="row row-cols-1 g-4">
    <div class="col" *ngFor="let venta of ventas">
      <div class="card h-100">
        <div class="card-header text-white" style="background-color: #84542a;">
          <h5 class="card-title mb-0">{{ venta.nombres }} {{ venta.apellidos }}</h5>
          <p class="card-text">Estado del Pedido: <strong style="text-decoration: underline;">{{ venta.estado }}</strong></p>
        </div>
        <div class="card-body">
          <p><strong>Fecha de Emisión:</strong> {{ venta.fechaEmision | date:'short' }}</p>
          <p><strong>DNI:</strong> {{ venta.dni }}</p>
          <p><strong>Tipo de Venta:</strong> {{ venta.tipoVenta }}</p>
          <p><strong>Dirección:</strong> {{ venta.direccion }}</p>
          <p><strong>Total:</strong> {{ venta.total | currency }}</p>
        </div>
        <div class="card-footer d-flex justify-content-between">
          <button class="btn" (click)="obtenerDetallesDeVenta(venta.idVenta)">
            {{ mostrarDetalles[venta.idVenta] ? 'Ocultar Detalles' : 'Ver Detalles' }}
          </button>
        </div>
        <div *ngIf="mostrarDetalles[venta.idVenta]" class="mt-3">
          <h6>Detalles de Venta</h6>
          <div class="card" *ngFor="let detalle of detalles[venta.idVenta]">
            <div class="card-body">
              <p><strong>Producto:</strong> {{ detalle.nombreProducto }}</p>
              <p><strong>Cantidad:</strong> {{ detalle.cantProducto }}</p>
              <p><strong>Talla:</strong> {{ detalle.tallaProducto }}</p>
              <p><strong>Precio:</strong> {{ detalle.precioProducto | currency }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div style="margin-bottom: 30px;" class="mt-4">
    <button class="btn" (click)="toggleMostrarComprasCompletadas()">
      {{ mostrarComprasCompletadas ? 'Ocultar Compras Completadas' : 'Mostrar Compras Completadas' }}
    </button>
  </div>

  <div *ngIf="mostrarComprasCompletadas" class="mt-4">
    <h2>Compras Completadas</h2>
    <div class="row row-cols-1 g-4">
      <div style="margin-bottom: 30px;" class="col" *ngFor="let venta of ventasEntregadas">
        <div class="card h-100">
          <div class="card-header text-white" style="background-color: #84542a;">
            <h5 class="card-title mb-0">{{ venta.nombres }} {{ venta.apellidos }}</h5>
            <p class="card-text">Estado del Pedido: <strong style="text-decoration: underline;">{{ venta.estado }}</strong></p>
          </div>
          <div class="card-body">
            <p><strong>Fecha de Emisión:</strong> {{ venta.fechaEmision | date:'short' }}</p>
            <p><strong>DNI:</strong> {{ venta.dni }}</p>
            <p><strong>Tipo de Venta:</strong> {{ venta.tipoVenta }}</p>
            <p><strong>Dirección:</strong> {{ venta.direccion }}</p>
            <p><strong>Total:</strong> {{ venta.total | currency }}</p>
          </div>
          <div class="card-footer d-flex justify-content-between">
            <button class="btn" (click)="obtenerDetallesDeVenta(venta.idVenta)">
              {{ mostrarDetalles[venta.idVenta] ? 'Ocultar Detalles' : 'Ver Detalles' }}
            </button>
          </div>
          <div *ngIf="mostrarDetalles[venta.idVenta]" class="mt-3">
            <h6>Detalles de Venta</h6>
            <div class="card" *ngFor="let detalle of detalles[venta.idVenta]">
              <div class="card-body">
                <p><strong>Producto:</strong> {{ detalle.nombreProducto }}</p>
                <p><strong>Cantidad:</strong> {{ detalle.cantProducto }}</p>
                <p><strong>Talla:</strong> {{ detalle.tallaProducto }}</p>
                <p><strong>Precio:</strong> {{ detalle.precioProducto | currency }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
