<div class="table-container">
  <table class="table">
    <thead>
      <tr>
        <th>Producto</th>
        <th>Detalles</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let producto of productos">
        <td>
          <div class="product-info">
            <h3>{{ producto.nombreProducto }}</h3>
            <p>Categoría: {{ producto.catProducto }}</p>
            <p>Precio: {{ producto.precioProducto }}</p>
          </div>
        </td>
        <td>
          <ul class="detail-list">
            <li>Talla S: {{ producto.tallaS }}</li>
            <li>Talla M: {{ producto.tallaM }}</li>
            <li>Talla L: {{ producto.tallaL }}</li>
          </ul>
        </td>
        <td>
          <button class="action-button" (click)="editarProducto(producto.idProducto)">Editar</button>
          <button class="action-button" (click)="eliminarProducto(producto.idProducto)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
