<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h5>Exclusivo</h5>
        <p>30% de descuento en todos nuestros pedidos</p>
      </div>
      <div class="col-md-3">
        <h5>Soporte</h5>
        <p>Lugar #99</p>
        <p>Tienda.com</p>
        <p>+51 999 999 999</p>
      </div>
      <div class="col-md-3">
        <h5>Cuenta</h5>
        <ul class="list-unstyled">
          <div *ngIf="!userData">
            <li><a class="nav-link pointer" (click)="sesion()">Iniciar Sesion</a></li>
            <li><a class="nav-link pointer" (click)="registro()">Registrarse</a></li>
          </div>
          <div *ngIf="userData">
            <li><a class="nav-link" (click)="carrito()">Carrito</a></li>
          </div>
        </ul>
      </div>
      <div class="col-md-3">
        <div class="social-icons">
          <ul class="list-unstyled">
            <li><a href="#"><i class="bi bi-facebook"></i></a></li>
            <li><a href="#"><i class="bi bi-twitter"></i></a></li>
            <li><a href="#"><i class="bi bi-instagram"></i></a></li>
            <li><a href="#"><i class="bi bi-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="text-center mt-4">
      <p>&copy; Copyright APACHE STORE 2024. Todos los derechos reservados</p>
    </div>
  </div>
</footer>