<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <h5>Exclusivo</h5>
          <p>30% de descuento en todos nuestros pedidos</p>
        </div>
        <div class="col-md-3">
          <h5>Soporte</h5>
          <p>Lugar #99</p>
          <p>Tienda.com</p>
          <p>+51 999 999 999</p>
        </div>
        <div class="col-md-3">
          <h5>Cuenta</h5>
          <ul class="list-unstyled">
            <li><a class="nav-link" (click)="SingUp()">Iniciar Sesion</a></li>
            <li><a href="#">Registrarse</a></li>
            <li><a href="#">Carrito</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <div class="social-icons">
            <ul class="list-unstyled">
              <li><a href="#"><span><i class="bi bi-facebook"></i> Facebook</span></a></li>
              <li><a href="#"><span><i class="bi bi-twitter"></i> twitter</span></a></li>
              <li><a href="#"><span><i class="bi bi-instagram"></i> Instagram</span></a></li>
              <li><a href="#"><span><i class="bi bi-linkedin"></i> Linkedin</span></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="text-center mt-4">
        <p>&copy; Copyright Tienda de Ropa 2024. Todos los derechos reservados</p>
      </div>
    </div>
  </footer>