<br>
<div class="container" id="home">
  <div id="carouselExampleCaptions" class="carousel slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="https://static.wixstatic.com/media/c820a1394be940a48bb2689017f4b611.jpg/v1/fill/w_1920,h_1138,fp_0.33_0.2,q_90/c820a1394be940a48bb2689017f4b611.webp"
          class="d-block w-100" alt="..."
          style="width: 900px; height: 500px; object-fit: cover; border-radius: 10px;" />
      </div>
      <div class="carousel-item">
        <img
          src="https://static.wixstatic.com/media/84770f_b5b78cd83b6342199b7370a2ba6b9e06.jpg/v1/fill/w_1347,h_541,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/84770f_b5b78cd83b6342199b7370a2ba6b9e06.jpg"
          class="d-block w-100" alt="..."
          style="width: 900px; height: 500px; object-fit: cover; border-radius: 10px;" />
      </div>
      <div class="carousel-item">
        <img
          src="https://static.wixstatic.com/media/84770f_a0d86fb2d0784ce393fa6a68c5193f38~mv2.jpg/v1/fill/w_943,h_544,q_90/84770f_a0d86fb2d0784ce393fa6a68c5193f38~mv2.webp"
          class="d-block w-100" alt="..."
          style="width: 900px; height: 500px; object-fit: cover; border-radius: 10px;" />
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
    </button>
  </div>
</div>
<br>
<main class="container" id="producto">
  <div>
    <h1 style="height: 10vh;">Productos</h1>
  </div>
  
  

  <div class="product-list pointer">
    <div *ngFor="let producto of productosMostrados" class="product-card">
      <div class="product-image">
        <img (click)="detalleProducto(producto.idProducto)" [src]="producto.imagenProducto" alt="{{ producto.nombreProducto }}">
      </div>
      <div class="product-details">
        <p class="product-name">{{ producto.nombreProducto }}</p>
      </div>
    </div>
  </div>

  <section style="margin: 20px; padding-bottom: 10px;">
    <div class="container new-arrivals" id="blog">
      <div class="row mb-4">
          <div class="col-12">
              <h6 class="text-danger" style="margin-top: 50px;">Destacado</h6>
              <h2>Nuevas Llegadas</h2>
          </div>
      </div>
      <div class="row">
          <div style="width: 650px;">
              <div class="card">
                  <img src="https://static.wixstatic.com/media/9c608a_366599da41fb4f79b5bb300586401735~mv2_d_5760_3841_s_4_2.jpg/v1/fill/w_586,h_586,q_90/9c608a_366599da41fb4f79b5bb300586401735~mv2_d_5760_3841_s_4_2.webp" class="card-img-top" alt="Colección de Ropa">
                  <div class="card-body">
                      <h5 class="card-title">Ultimas novedades</h5>
                      <p class="card-text">Las últimas tendencias en moda para esta temporada.</p>
                      <a href="#" class="btn btn-primary">Comprar Ahora</a>
                  </div>
              </div>
          </div>

          <div style="width: 296px;">
              <div class="row">
                  <div style="display: block; width: 350px;">
                      <div class="card">
                          <img src="https://static.wixstatic.com/media/cda177_f1f82c1c2f2f42df9e23af0c01bf10aa.png/v1/fill/w_200,h_200,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/cda177_f1f82c1c2f2f42df9e23af0c01bf10aa.png" class="card-img-top" alt="Colección de Mujeres">
                          <div class="card-body">
                              <h5 class="card-title">Colección de Mujeres</h5>
                              <a href="#" class="btn btn-primary">Comprar Ahora</a>
                          </div>
                      </div>
                  </div>
                  <div style="display: block; margin-top: 20px; width: 350px;">
                      <div class="card">
                          <img src="https://static.wixstatic.com/media/9c608a_470dae7c6fa548a394585261aa8c8f9b~mv2_d_7231_4826_s_4_2.jpg/v1/fill/w_588,h_586,q_90/9c608a_470dae7c6fa548a394585261aa8c8f9b~mv2_d_7231_4826_s_4_2.webp" class="card-img-top" alt="Accesorios">
                          <div class="card-body">
                              <h5 class="card-title">Accesorios</h5>
                              <a href="#" class="btn btn-primary">Comprar Ahora</a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  </section>
</main>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>