<nav style="background-color: #d8c8bc;" class="navbar navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand" href="#">APACHE STORE</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item" *ngIf="!userData || userData?.rol === 'usuario'">
          <a class="nav-link" (click)="inicio()">Inicio</a>
        </li>
        <li class="nav-item" *ngIf="!userData || userData?.rol === 'usuario'">
          <a class="nav-link" (click)="productos()">Productos</a>
        </li>
        <li class="nav-item" *ngIf="userData?.rol === 'administrador'">
          <a class="nav-link" (click)="crearproductos()">Crear Producto</a>
        </li>
        <li class="nav-item" *ngIf="userData?.rol === 'administrador'">
          <a class="nav-link" (click)="editarproductos()">Administrar Productos</a>
        </li>
        <li class="nav-item" *ngIf="userData?.rol === 'delivery'">
          <a class="nav-link" (click)="deliveryGestion()">Administrar Delivery</a>
        </li>
      </ul>
      <div class="d-flex align-items-center">
        <div *ngIf="!userData" class="d-flex align-items-center">
          <a class="nav-link text-dark" (click)="sesion()" style="margin-right: 35px;">
            <img src="https://cdn-icons-png.flaticon.com/512/54/54874.png" alt="Iniciar Sesión" style="width: 25px; margin-right: 5px; margin-bottom: 10px; margin-top: 5px;"><p style="display: contents">Iniciar Sesión</p>
          </a>
          <a class="nav-link text-dark" (click)="registro()">
            <img src="https://static.thenounproject.com/png/736543-200.png" alt="Registrarse" style="width: 25px; margin-right: 5px; margin-bottom: 10px; margin-top: 5px;"><p style="display: contents;">Registrarse</p>
          </a>
        </div>
        <div *ngIf="userData" class="btn-group">
          <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <span>{{ userData.nombres }} {{ userData.apellidos }}</span>
          </button>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" (click)="perfil()" type="button">Perfil</a></li>
            <li *ngIf="userData?.rol === 'usuario'"><a class="dropdown-item" (click)="delivery()" type="button">Delivery</a></li>
            <li><a class="dropdown-item" (click)="sesion()" type="button">Cerrar Sesión</a></li>
          </ul>
        </div>
        <div *ngIf="userData" class="cart position-relative" (click)="carrito()">
          <span class="badge badge-danger position-absolute top-0 start-100 translate-middle" style="color: red;">{{ cantidadProductosEnCarrito }}</span>
          <span><i class="bi bi-cart4 text-dark"></i></span>
        </div>
      </div>
    </div>
  </div>
</nav>
