body {
  background-color: #f0f0f0;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

.form-container {
  max-width: 500px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.form-container h2 {
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-size: 16px;
  color: #555;
  margin-bottom: 5px; /* Añadido para un mejor espaciado entre etiquetas y campos */
}

.form-group input[type="text"],
.form-group input[type="number"],
.form-group input[type="file"],
.form-group select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid #ccc;
  transition: border-color 0.3s ease;
  background-color: transparent;
}

.form-group input[type="text"]:focus,
.form-group input[type="number"]:focus,
.form-group input[type="file"]:focus,
.form-group select:focus {
  border-color: #5c340c;
}

.checkbox-group {
  margin-bottom: 20px;
}

.checkbox-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
  color: #555;
}

.size-container {
  display: flex;
}

.size-item {
  flex: 1;
  text-align: center;
  margin-right: 10px;
}

.size-item input[type="number"] {
  width: 100%;
  padding: 5px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: transparent;
}

.button-container {
  text-align: center;
  margin-top: 20px; /* Ajusta el margen según sea necesario */
}

.button-container button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #a47b5a;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-container button:hover {
  background-color: #5c340c;
}

.button-container button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
