<div class="form-container">
  <h2>Crear Producto</h2>
  <form (ngSubmit)="guardarProducto()" #productoForm="ngForm">
    <div class="form-group">
      <label for="nombreProducto">Nombre Producto:</label>
      <input type="text" id="nombreProducto" [(ngModel)]="nuevoProducto.nombreProducto" name="nombreProducto" required>
    </div>
    <div class="form-group">
      <label for="catProducto">Género Producto: (Hombre, Mujer)</label>
      <select id="catProducto" [(ngModel)]="nuevoProducto.catProducto" name="catProducto" required>
        <option value="">Seleccione un género</option>
        <option value="Hombre">Hombre</option>
        <option value="Mujer">Mujer</option>
      </select>
    </div>  
    <div class="form-group">
      <label for="precioProducto">Precio Producto:</label>
      <input type="number" id="precioProducto" [(ngModel)]="nuevoProducto.precioProducto" name="precioProducto" required>
    </div>
    <div class="form-group">
      <label for="imagenProducto">Imagen Producto:</label>
      <input type="file" id="imagenProducto" (change)="onFileSelected($event)" name="imagenProducto" required>
    </div>
    <div class="checkbox-group">
      <label>Tallas:</label>
      <div class="size-container">
        <div class="size-item">
          <label>S</label>
          <input type="number" [(ngModel)]="nuevoProducto.tallaS" name="tallaS" placeholder="Talla S">
        </div>
        <div class="size-item">
          <label>M</label>
          <input type="number" [(ngModel)]="nuevoProducto.tallaM" name="tallaM" placeholder="Talla M">
        </div>
        <div class="size-item">
          <label>L</label>
          <input type="number" [(ngModel)]="nuevoProducto.tallaL" name="tallaL" placeholder="Talla L">
        </div>
      </div>
    </div>
    <div class="button-container">
      <button type="submit" [disabled]="productoForm.invalid">Guardar Producto</button>
    </div>
  </form>
</div>
